/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
p {
    color: #787976;
    /* font: 400 1rem/1.5625rem "Open Sans", sans-serif; */
}

.header {
    width: 100vw;
    height: calc(100vh + 14rem);
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../Major\ Project/header-background.jpg) center center no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../Major\ Project/header-background.jpg) center center no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../Major\ Project/header-background.jpg) center center no-repeat;
    background-size: cover;
}

.header-content {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.main-heading {
    display: inline-block;
}

.main-heading h1 {
    font: 700 3.5rem/4rem "Montserrat", sans-serif;
    margin-top: 6.5rem;
}

.main-heading .p-large {
    margin-bottom: 2rem;
    color: #dfe5ec;
    font: 500 1.225rem/1.625rem "Open Sans", sans-serif !important;
    margin-top: 0.1em;
    margin-right: auto;
    margin-left: auto;
    padding: 0 5rem !important;
}

.front-main-content {
    min-width: 55%;
    margin-top: 6.5rem;
}

/* Navbar Section */
.logo {
    max-width: 7em !important;
    margin-left: 10px;
    align-self: flex-start;
}

.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #113448;
    /* flex-flow: column wrap !important; */
}

.all-links {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    align-self: flex-end;
}

.all-links-ul {
    /* width: 80vw; */
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* margin-right: -7.5rem !important; */
}

#about {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#about a i {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.all-links ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2em !important;
}

.all-links ul li a {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #e8e7e7;
}

.all-links ul li .about-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-2 .fa-stack {
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
    margin-left: 0.125rem;
    width: 3.25rem;
    height: 3.25rem;
}

#contact {
    margin-right: 1rem !important;
}

.fa-stack-1x {
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hexagon {
    position: absolute;
    inset: 0;
    background: url(../Major\ Project/bg-icon/hexagon-green.svg) center center no-repeat;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.fa-stack {
    display: inline-block;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
}

.fa-stack-sm {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2em;
}

.nav-2 .fa-stack,
.social-links .fa-stack {
    margin-right: 0.25rem;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 0.125rem;
    width: 1.625rem;
    height: 1.625rem;
}

.nav-2 .fa-stack .hexagon,
.social-links .fa-stack .hexagon {
    width: 1.625rem;
    height: 1.625rem;
    background-size: 1.625rem 1.625rem;
}

.nav-2 .fa-stack-1x,
.social-links .fa-stack-1x {
    font-size: 0.6875rem;
    line-height: 1.625rem;
}

.cards-2 .fa-stack {
    width: 6rem;
    height: 6rem;
    display: inline-block;
    line-height: 6rem;
    position: relative;
    vertical-align: middle;
}

.cards-2 .fa-stack .hexagon {
    width: 6rem;
    height: 6rem;
    background-size: 6rem 6rem;
}

.cards-2 .fa-stack-1x {
    width: 6rem;
    font-size: 3rem;
    line-height: 6rem;
}

.form-2 .fa-stack .hexagon {
    width: 3.25rem;
    height: 3.25rem;
    background-size: 3.25rem 3.25rem;
}

.form-2 .fa-stack-1x {
    font-size: 1.5rem;
    line-height: 3.25rem;
}

.btn-solid-reg {
    display: inline-block;
    padding: 1.1875rem 1.875rem 1.1875rem 1.875rem;
    border: 0.125rem solid #14bf98;
    border-radius: 0.25rem;
    background-color: #14bf98;
    color: #fff;
    font: 700 0.75rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.my-button {
    display: inline-block;
    padding: 1.375rem 2.125rem 1.375rem 2.125rem;
    border: 0.125rem solid #14bf98;
    border-radius: 0.25rem;
    background-color: #14bf98;
    color: #fff;
    font: 700 0.75rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.btn-solid-reg,
.my-button:hover {
    background-color: transparent;
    color: #14bf98;
    text-decoration: none;
}

.button a {
    display: inline-block;
    margin-right: 0.1875rem;
    margin-bottom: 0.5rem;
    margin-left: 0.1875rem;
    padding: 0.3125rem 1.375rem 0.25rem 1.375rem;
    border-radius: 0.25rem;
    background-color: #f1f4f7;
    color: #7b7e85;
    font: 700 0.75rem/1.25rem "Montserrat", sans-serif;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.basic-1 {
    min-width: 100vw;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.container {
    max-width: 71em;
}

#intro .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 7fr;
    grid-template-columns: 5fr 7fr;
}

#cards-1 .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 3em 3fr 3em 3fr;
    grid-template-columns: repeat(3, 3fr);
    gap: 0 3em;
}

.sub-container {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.col-5 {
    margin-right: 1.875rem;
}

.section-title {
    margin-top: 0.2rem !important;
    margin-bottom: 0.5rem;
    color: #14bf98;
    font: 500 0.8125rem/1.125rem "Montserrat", sans-serif;
}

.section-h2 {
    color: #484a46;
}

.section-h2 {
    margin-bottom: 1.375rem;
    font: 700 1.75rem/2.125rem "Montserrat", sans-serif;
}

.basic-1 .testimonial-author {
    color: #484a46;
}

.testimonial-author {
    font: 700 1rem/1.375rem "Montserrat", sans-serif;
}

.image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
}

.basic-1 .image-container img {
    width: 100%;
    margin: 0;
    border-radius: 0.25rem;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}


.services-section {
    background-color: #FBFBFB;
}

.services-section .price-cards {
    display: flex;
    justify-content: space-between;
}

.services-section .single-template {
    max-width: 20.875rem;
    margin-bottom: 2rem !important;
}

.services-section .single-template .card-img-fluid {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.services-section .single-template .price-button {
    margin-top: -1.375rem !important;
}

.basic-2 {
    text-align: center !important;
}

.services-section .basic-2 .section-h2 {
    margin-bottom: 3.25rem;
}

.services-section .single-template .section-h2 {
    font: 700 1.375rem/1.75rem "Montserrat", sans-serif;
    margin-bottom: 0.75rem;
    /* text-align: center; */
}

.about-section .content-box ul .single-template-ul-li,
.services-section .single-template .single-template-ul-li {
    text-align: left;
}

.about-section .content-box ul .single-template-ul-li i,
.services-section .single-template-ul li i {
    font-size: 0.5em;
    color: #14bf98;
}

.services-section .single-template-ul {
    margin-bottom: 1.5rem !important;
}

.services-section .price-cards-body .first-p {
    text-align: left !important;
    margin-bottom: 1rem;
}

.services-section .price-cards-body .second-p {
    margin-bottom: 0.25rem;
    color: #484a46;
    font: 700 1rem/1.5rem "Montserrat", sans-serif;
    text-align: center !important;
}

.services-section .price-cards .price-cards-body {
    border: 1px solid #ebe8e8;
    background-color: #fff;
    padding: 2.25rem 2.5rem 2.125rem 2.5rem;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.basic-1 .image-container:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    height: auto;
}

.accordian {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 34.625rem;
    overflow: hidden !important;
}

.accordian .area-1 {
    background: url(../Major\ Project/details-1-background.jpg) center center no-repeat;
    background-size: cover;
}

.accordian .area-4 {
    background: url(../Major\ Project/details-2-background.jpg) center center no-repeat;
    background-size: cover;
}

.accordian .accordion-container {
    max-width: 28rem;
    margin-left: 5rem;
    padding-top: 6.375rem;
}

.accordian .accordion-container h2 {
    margin-bottom: 1.625rem;
    font: 700 1.75rem/2.125rem "Montserrat", sans-serif;
}

.accordian .accordion-container .item details {
    display: flex;
    flex-flow: row wrap;
}

.accordian .area-2 .item {
    margin-bottom: 2rem;
}

.accordian .area-2 .item details p {
    margin-left: 3.725rem !important;
    padding-right: 1rem;
}

.accordian .area-2 .item details .item-summary .circle-numbering {
    color: #484a46;
    border-radius: 50%;
    border: 0.125rem solid #484a46;
    padding: 0.48rem 0.758rem !important;
    background-color: transparent;
    margin-right: 0.875rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    font: 700 1rem/2.125rem "Montserrat", sans-serif !important;
    transition: all 0.2s ease;
}

.accordian .area-2 .item details .item-summary:active .circle-numbering {
    background-color: #14bf98;
    color: #fff;
}

summary {
    list-style: none !important;
}

.accordian .accordion-container .item .item-summary:hover span {
    color: #14bf98;
    background-color: #fff;
}

.accordian .accordion-container .item summary:hover .circle-numbering {
    border: 0.125rem solid #14bf98;
}

.accordian .area-2 .item .item-title {
    display: inline-block;
    height: 2.25rem;
    color: #484a46;
    background-color: transparent;
    margin-top: 0.125rem;
    margin-bottom: 0.25rem;
    margin-right: 0.875rem;
    font: 700 1.25rem/1.75rem "Montserrat", sans-serif;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease;
}

.accordian .area-4 {
    height: 100%;
    display: inline-block;
    background: url(../Major\ Project/details-2-background.jpg) center center no-repeat;
    background-size: cover;
}

.accordian .area-3 h4 {
    color: #484a46;
    font: 700 1.25rem/1.625rem "Montserrat", sans-serif;
    margin-bottom: 0.5rem;
}

.accordian .area-3 {
    max-width: 28rem;
    margin-right: 5rem;
    margin-left: auto;
    padding-top: 6.75rem;
    padding-bottom: 0;
}

.accordian .area-3 p {
    margin-bottom: 1rem;
}

.accordian .area-3 .progress-container {
    margin-top: 1.5rem;
}

.accordian .area-3 .progress-container .progress-label {
    color: #484a46;
    font: 600 0.875rem/1.25rem "Open Sans", sans-serif;
}

.testimonials {
    background-color: #fbfbfb !important;
}

.testimonials .container .parent {
    height: 19.5rem;
    scroll-behavior: smooth;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    white-space: nowrap !important;
}

.testimonials .container .parent::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.testimonials .container .parent .child {
    min-width: 30.33% !important;
    margin: 0 1rem !important;
}

.consultants .members-group .member-designation,
.testimonials .container .parent .child h2 {
    font: 700 1rem/1.375rem "Montserrat", sans-serif;
    color: #484a46;
}

.testimonials .container .parent .child h2 {
    margin-top: 1rem;
}

.consultants .members-group .member-designation {
    margin-top: 0.21rem;
    margin-bottom: 0.5rem;
}

.testimonials .container div .first-p {
    margin-bottom: 3rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.testimonials .container .parent .child .leading-relaxed {
    /* word-break: break-all; */
    white-space: normal;
}

/* CALL ME CSS */
.form-call-me {
    padding-top: 7rem;
    padding-bottom: 5.625rem;
    background-color: #153e52;
}

.form-call-me .container .callme-content {
    margin-top: 1.375rem;
    margin-right: 1.75rem;
    margin-left: 3rem;
}

.form-call-me .container {
    margin-left: 1.75rem;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
}

.form-call-me .callme-content h2 {
    margin-bottom: 1.375rem;
    font: 700 1.75rem/2.125rem "Montserrat", sans-serif;
    color: #fff !important;
}

.form-call-me .callme-content p {
    color: #dfe5ec !important;
}

.form-call-me .callme-content .single-template-ul {
    margin-top: 1.5rem;
}

.form-call-me .callme-content .single-template-ul-li {
    margin-bottom: 0.5rem !important;
    text-align: left;
    color: #dfe5ec;
}

.form-call-me .callme-content .single-template-ul li i {
    font-size: 0.5em;
    color: #14bf98;
}

/* FORM Input section */
.form-call-me .callme-input .form-group input:hover,
.form-call-me .callme-input .form-group select:hover {
    border: 1px solid #fff;
}

.form-call-me .callme-input .form-group input,
.form-call-me .callme-input .form-group select {
    width: 100%;
    margin-bottom: 1.25rem !important;
    background-color: #2A5D77;
    border-radius: 5px;
    border: #2A5D77;
    padding-left: 1.3125rem;
}

.form-call-me .callme-input .form-group select {
    width: 100%;
    margin-bottom: 1.25rem !important;
    background-color: #2A5D77;
    border-radius: 5px;
    border: #2A5D77;
    padding-top: 0.955rem;
    padding-bottom: 0.995rem;
    padding-left: 1.3125rem;
}

.form-call-me .callme-input .form-group input::placeholder,
.form-call-me .callme-input .form-group select .select-option {
    color: #fff;
}

.form-call-me .callme-input .form-group input:focus {
    outline: none;
}

.form-call-me .callme-input .form-group input {
    display: block;
    width: 100%;
    margin: 0.5rem auto;
    height: 50px;
}

.form-call-me .callme-input .checkbox-group a {
    text-decoration: underline;
}

.form-call-me .callme-input form .form-submit-btn button {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    border: 0.125rem solid #14bf98;
    border-radius: 0.25rem;
    background-color: #14bf98;
    color: #fff;
    font: 700 0.75rem/1.75rem "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 1.5rem;
}

.form-call-me .callme-input form .form-submit-btn button:hover {
    border: 0.125rem solid #14bf98;
    background-color: transparent;
    color: #14bf98;
}

/* PROJECTS Section CSS */
.showcase {
    padding-top: 7rem;
    padding-bottom: 5.625rem;
}

.showcase .container div {
    text-align: center;
}

.showcase .container .gallery-section {
    margin-top: 3rem;
}

.showcase .container .gallery-section .gallery-header label {
    display: inline-block;
    margin-right: 0.1875rem;
    margin-bottom: 0.5rem;
    margin-left: 0.1875rem;
    padding: 0.3125rem 1.375rem 0.25rem 1.375rem;
    border-radius: 0.25rem;
    font: 700 0.75rem/1.25rem "Montserrat", sans-serif !important;
    cursor: pointer;
}

.showcase .container .gallery-section .gallery-header .first_child,
.showcase .container .gallery-section .other_child:hover {
    background-color: #14bf98;
    color: #fff;
}

.showcase .container .gallery-section label {
    background-color: #f1f4f7;
    color: #7b7e85;
}

/* PROJECT showcase Gallery CSS */
.showcase .container .gallery-group {
    height: 540px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: auto !important;
    margin-right: auto !important;
}

.showcase .container .gallery-group .image-outer {
    position: relative;
    text-align: center;
    overflow: hidden !important;
}

.showcase .container .gallery-group .image-outer .figcaption {
    display: none;
    color: #fff;
    font: 700 1.125rem/1.625rem "Montserrat", sans-serif;
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity all 0.3s;
}

.showcase .container .gallery-group .image-outer img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1);
    transition: all 0.3s;
}

.showcase .container .gallery-group div:hover img {
    transform: scale(1.15);
    transition: all 0.3s;
}

.showcase .container .gallery-group .image-outer:hover .figcaption {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    transition: all 0.3s ease;
}

.members-group {
    display: inline-block;
    width: 14.375rem;
    margin-right: 1.375rem;
    margin-left: 1.375rem;
}

.members-group .member-image {
    overflow: hidden;
    margin-bottom: 1.5rem;
    transition: all 0.3s;
}

.members-group .member-image:hover img {
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.consultants .container .member-group .social-links {
    display: inline-block;
}

.members-group .member-name {
    font: 400 1.125rem/1.625rem "Open Sans", sans-serif
}

.member-group-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.about-section .item-2-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.about-section .item-2 {
    display: flex;
    justify-content: space-around;
}

.about-section .item-2 span {
    display: inline-block;
    margin-left: 1rem !important;
}

.about-section .item-2 .about-h2 {
    display: inline-block;
    margin-bottom: 0.125rem;
    color: #14bf98;
    font: 700 2.875rem/3.25rem "Montserrat", sans-serif;
}

.about-section .container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.about-section .about-divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.about-section .about-divider .image-box {
    padding-right: 1.5rem !important;
}

.about-section .about-divider .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

/* FOOTER CSS */
.footer-section {
    background-color: #113448;
    padding-top: 5rem !important;
    padding-bottom: 2rem !important;
}

.text-container-group {
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: space-between !important;
    align-items: baseline;
}

.footer-section h4 {
    color: #fff;
    margin-bottom: 0.75rem;
    font: 700 1.25rem /1.625rem "Montserrat", sans-serif !important;
}

.footer-section .text-box a {
    text-decoration: underline;
}

.footer-section .text-box p,
.footer-section .text-box a,
.copyright p {
    color: #dfe5ec !important;
    font: 400 1rem/1.5625rem "Open Sans", sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.375rem !important;
}

.footer-section .text-box a {
    display: block !important;
}

.copyright p {
    text-align: center !important;
}

/* contact-section CSS*/
.contact-section .sub-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact-section .sub-container .contact-details {
    width: 49% !important;
    margin-bottom: 3rem !important;
}

.contact-section .sub-container .contact-input {
    min-width: 48% !important;
    display: flex;
    flex-flow: column wrap;
}

.contact-section .sub-container .contact-input form {
    display: flex;
    flex-flow: column wrap !important;
}

.contact-section .contact-details .section-h3 {
    margin-top: 2rem !important;
    color: #484a46;
    font: 700 1.375rem/1.75rem "Montserrat", sans-serif !important;
}

.contact-section .contact-details .stack-md .fa-stack {
    display: inline-block;
    line-height: 3em;
    position: relative;
    vertical-align: middle;
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
    margin-left: 0.125rem;
    width: 3.25rem;
    height: 3.25rem;
}

.contact-section .contact-details .stack-md .hexagon {
    width: 3.25rem !important;
    height: 3.25rem !important;
    background-size: 3.25rem 3.25rem !important;
}

.contact-section .contact-details .stack-md .fa-stack-1x {
    font-size: 1.5rem;
    line-height: 3.25rem;
}

.fa-stack:hover .hexagon {
    background: url(../images/hexagon-white.svg) center center no-repeat !important;

}

.fa-stack:hover .fa-stack-1x {
    background-color: transparent !important;
    color: #14bf98 !important;
    cursor: pointer !important;
}

@media screen and (max-width: 479px) {

    .contact-section .sub-container .contact-details {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }

    .contact-section .sub-container .contact-input {
        min-width: 100% !important;
        display: flex;
        flex-flow: column wrap;
    }

    .footer-section .text-box {
        width: 100% !important;
        margin-bottom: 1.5rem !important;
    }

    .about-section .item-2-parent {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .about-section .item-2 {
        display: flex;
        flex-wrap: row wrap !important;
        justify-content: center;
        align-content: space-around;
    }

    .about-section {
        width: 100vw;
    }

    .about-section .about-divider {
        display: flex;
        flex-flow: row wrap;
    }

    .about-section .about-divider .content-box,
    .about-section .about-divider .image-box {
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 100% !important;
    }

    .about-section .about-divider .image-box {
        margin-bottom: 3rem !important;
    }

    .about-section .about-divider .image-box img {
        width: 100%;
    }

    .member-group-parent {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.5rem;
    }

    .members-group {
        display: inline-block;
        width: 14.375rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.5rem;
    }

    .accordian {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        height: auto !important;
    }

    .accordian .area-1 {
        background: url(../Major\ Project/details-1-background.jpg) center center no-repeat;
    }

    .accordian .area-4 {
        background: url(../Major\ Project/details-2-background.jpg) center center no-repeat;
    }

    .accordian .area-1,
    .accordian .area-4 {
        width: 100%;
        height: 32em !important;
        background-size: cover;
        /* border: 1px solid red; */
    }

    .accordian .area-2 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .accordian .area-2 .accordion-container {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .accordian .accordion-container {
        width: 100%;
        /* margin-left: 0; */
        padding-top: 3.375rem;
    }

    .testimonials .container div .first-p {
        width: 100% !important;
    }

    .testimonials .container .parent .child {
        min-width: 95% !important;
        margin: 0 1rem !important;
    }


    .form-call-me .container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .form-call-me .container .callme-content {
        margin-bottom: 1.375rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .showcase .container .gallery-group {
        height: 540px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .showcase .container .gallery-group .image-outer .figcaption {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .header {
        width: 100%;
        height: 90vh;
        background-repeat: no-repeat;
        background-position: center;
    }



    .container {
        width: 98vw !important;
    }

    .header-content {
        position: relative;
        width: 100vw;
        height: 100%;
        margin: 0 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .navbar {
        height: 4rem !important;
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
    }

    .header-content .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .front-main-content {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 95%;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }

    .main-heading {
        display: block;
    }

    .main-heading h1 {
        font: 700 2.5rem/3rem "Montserrat", sans-serif;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .main-heading p {
        margin-bottom: 2rem;
        padding: 0 1.2rem;
        font: 500 1.525rem/1.625rem "Open Sans", sans-serif;
    }

    .main-heading .p-large {
        margin-bottom: 2rem;
        color: #dfe5ec;
        font: 500 1.225rem/1.625rem "Open Sans", sans-serif !important;
        margin-top: 0.1em;
        margin-right: auto;
        margin-left: auto;
        padding: 0 1rem !important;
    }

    .services-section .single-template {
        max-width: 100%;
        margin-bottom: 2rem !important;
    }

    .services-section .price-cards {
        display: block !important;
    }

    .col-5 {
        margin-right: auto !important;
    }

    #intro .container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    #cards-1 .container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        height: auto;
        gap: 3em 0;
    }

    .navbar .logo {
        max-width: 7em !important;
        margin-top: -0.3rem !important;
        margin-right: auto;
        margin-left: 0 !important;
    }

    .all-links {
        display: none;
    }

    .p-heading {
        padding: 0 0 !important;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .basic-1 .container .cards-2 {
        text-align: center !important;
    }

    .accordian .area-2,
    .accordian .area-3 {
        min-width: 100%;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .accordian .area-1,
    .accordian .area-4 {
        background-position: center !important;
        background-size: contain !important;
        min-width: 100% !important;
        max-height: 27rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .accordian {
        display: flex;
        flex-flow: column wrap;
        width: 100% !important;
    }

    .accordian .area-3,
    .accordian .area-4 {
        padding: 0 2rem !important;
    }
}