* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

section {
    z-index: -1;
}

.w-74-4 {
    max-width: 19.4em !important;
}

aside .category:hover {
    background-color: rgb(224, 223, 223);
    cursor: pointer;
}

#nav-1 i {
    margin-right: 0.5em;
    padding: 0 0.5em;
}

#nav-2 form {
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

i {
    color: rgb(96, 96, 96);
}

#nav-2 input {
    width: 31.2em;
    padding: 10px;
    height: 100%;
    border: none;
    border-radius: 0;
}

#nav-2 input:focus {
    outline: none;
}

#nav-2 button {
    border: none;
    background-color: rgb(240, 240, 240);
}

.left-categories {
    width: 13.5% !important;
    position: fixed;
}

.video-area {
    width: 86.5%;
    background-color: rgb(249, 249, 249) !important;
    border-top: 1px solid #ddd !important;
}